<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="Style.css">
    <link href="https://fonts.googleapis.com/css?family=Arimo|Open+Sans:600i" rel="stylesheet">
    <title>Open Search Application</title>
</head>

<body>
    <header id="title">
        <h3>Open Search</h3>
    </header>

    <main>
      <section>
        <fieldset>
          <legend>Slogan</legend>
            <form>
              <input type="text" name="searchbar" placeholder="Search..." required><br>

              <input type="radio" name="search" value="Wikipedia" required>
                <label for="Wikipedia">Wikipedia</label><br>

              <input type="radio" name="search" value="IMDb" required>
                <label for="IMDb">IMDb</label><br>

              <input type="radio" name="search" value="Twitter" required>
                <label for="Twitter">Twitter</label><br>

              <input type="radio" name="search" value="Reddit" required>
                <label for="Reddit">Reddit</label><br>

              <input type="submit" value="Submit &#x2192;">
          </form>
        </fieldset>
      </section>

<div>
  <fieldset>

    <p id "seachResults">hello</p>

  </fieldset>

</main>
</body>
</html>
